---
import GenSelectButton from "./GenSelectButton.astro";
const generations = [
	{ id: 1, listStart: "1", listEnd: "151", isChecked: true },
	{ id: 2, listStart: "152", listEnd: "251" },
	{ id: 3, listStart: "252", listEnd: "386" },
	{ id: 4, listStart: "387", listEnd: "493" },
	{ id: 5, listStart: "494", listEnd: "649" },
	{ id: 6, listStart: "650", listEnd: "721" },
	{ id: 7, listStart: "722", listEnd: "809" },
	{ id: 8, listStart: "810", listEnd: "905" },
	{ id: 9, listStart: "906", listEnd: "1025" },
	{ id: "alt", listStart: "10001", listEnd: "10277" },
];
---

<div class="gen-select">
	{
		generations.map((generation) => (
			<form class="gen-form">
				<input
					type="hidden"
					name="gen-select"
					value={`${generation.listStart},${generation.listEnd}`}
				/>
				<GenSelectButton
					id={generation.id}
					listStart={generation.listStart}
					listEnd={generation.listEnd}
					isChecked={generation.isChecked || false}
				/>
			</form>
		))
	}
</div>

<style>
	.gen-select {
		position: absolute;
		bottom: 20px;
		left: 20px;
		display: flex;
		gap: 12px;
	}
	@media (width < 992px) {
		.gen-select {
			top: 20px;
			right: 20px;
			gap: 10px 25px;
			bottom: initial;
			left: initial;
			flex-direction: column;
		}
	}
	@media (width < 600px) {
		.gen-select {
			flex-wrap: wrap-reverse;
			height: 255px;
			opacity: 0.5;
			transition: all 0.3s;

			&:is(:hover, :focus-within) {
				opacity: 1;
			}
		}
	}
</style>

<script>
	const genForms = document.querySelectorAll(
		".gen-form"
	) as NodeListOf<HTMLFormElement>;

	genForms.forEach((form) => {
		form.addEventListener("submit", (e) => {
			e.preventDefault();
			const formData = new FormData(form);
			const genSelectValue = formData.get("gen-select") as string;
			const [listStart, listEnd] = genSelectValue?.split(",") || [];
			const numData = parseInt(listEnd) - parseInt(listStart) + 1;

			// Émettre un événement personnalisé avec les données de génération
			const event = new CustomEvent("generationSelected", {
				detail: { listStart, listEnd },
			});
			window.dispatchEvent(event);
		});
	});
</script>
