---
import Image from "astro/components/Image.astro";

const { name, key } = Astro.props;

const response = await fetch(`https://pokeapi.co/api/v2/pokemon/${name}`);
const data = await response.json();
const id = data.id;
const sprite = data.sprites.other["official-artwork"].front_default;
const spriteShiny = data.sprites.other["official-artwork"].front_shiny;
const icon = data.sprites.front_default;
---

<li
	class:list={["pokemon", { "pokemon-active": key === 0 }]}
	data-sprite={sprite}
	data-sprite-shiny={spriteShiny}
	data-id={id}>
	<div class="pokemon__info">
		<div class="pokemon__sprite">
			<Image src={icon} alt="sprite" width="60" height="60" />
		</div>
		<p class="pokemon__num">
			No. <span class="pokemon__num--field">{id}</span>
		</p>
	</div>
	<p class="pokemon__name">{name}</p>
	<div class="pokeball">
		<Image
			src="/pokedex/images/pokeball.png"
			alt="pokeball"
			width="25"
			height="25"
		/>
	</div>
</li>

<script>
	const pokemons = document.querySelectorAll(".pokemon") as NodeListOf<Element>;
	const pokemonSprite = document.querySelector(
		".pokemon-sprite img"
	) as HTMLImageElement;

	function getShinyStatus() {
		return localStorage.getItem("isShiny") === "false" ? false : true;
	}

	setSprite(pokemons[0], getShinyStatus());

	pokemons.forEach((pokemon: Element) => {
		//adds an event listener to each pokemon so that when you click on it, it adds the class pokemon-active and changes the sprite
		pokemon.addEventListener("click", () => {
			selectPokemon(pokemon);
		});
	});

	function selectPokemon(pokemon: Element) {
		pokemonSprite.setAttribute(
			"data-id",
			pokemon.getAttribute("data-id") as string
		);
		setSprite(pokemon, getShinyStatus());
		pokemons.forEach((pokemon) => {
			pokemon.classList.remove("pokemon-active");
		});
		pokemon.classList.add("pokemon-active");
	}

	function setSprite(pokemon: Element, isShiny: boolean) {
		const sprite = isShiny
			? pokemon.getAttribute("data-sprite-shiny")
			: pokemon.getAttribute("data-sprite");
		if (sprite) {
			pokemonSprite.src = sprite;
		}
		pokemonSprite.setAttribute(
			"data-id",
			pokemon.getAttribute("data-id") as string
		);
	}
</script>

<style>
	.pokemon {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-transform: capitalize;
		text-align: center;
		padding: 0 10px 0 0;
		color: black;
		font-weight: 500;
		font-size: 1.3rem;
		border-radius: 100vw;
		cursor: pointer;

		&:is(:hover, :focus-within, .pokemon-active) {
			background-image: linear-gradient(115deg, #f04f17 45%, black 45%);
			color: white;
		}
		.pokemon__name {
			padding: 0 0.5rem;
		}
		.pokemon__info {
			display: flex;
			align-items: center;
		}
		.pokemon__sprite {
			width: 60px;
			transform-origin: bottom;
			margin-inline: 10px;
		}
		.pokemon__num {
			display: flex;
		}
		.pokemon__num--field {
			margin-left: 0.5rem;
		}
	}
	.pokeball {
		--_width: 25px;
		width: var(--_width);
		height: var(--_width);
		aspect-ratio: 1;
		display: flex;
		animation-play-state: paused;
	}
	.pokemon-active {
		position: relative;

		& .pokemon__sprite {
			animation: pokemon_jump 0.24s ease-in-out 2;
		}
		& .pokeball {
			animation: rotate 1600ms infinite linear;
			animation-play-state: running;
		}
	}
	@keyframes pokemon_jump {
		from,
		to {
			translate: 0;
		}
		50% {
			translate: 0 -10px;
		}
	}
	@keyframes rotate {
		to {
			rotate: 360deg;
		}
	}
	@media (width < 400px) {
		.pokeball {
			display: none;
		}
	}
</style>
